body {
  font-family: '명조체', serif;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}

#logo {
  line-height: 60px;
  padding-left: 30px;
}
#logo img {
  vertical-align: middle;
}

#navbar {
  background-color: white;
  display: block;
  height: 60px;
  border-radius: 5px;
}
#navbar ul {
  float: right;
  margin: 0;
}
#navbar ul li {
  float: left;
  list-style: none;
  padding: 0 10px;
  flex-direction: column;
  line-height: 60px;
  margin: 0;
}
#navbar ul li:last-child {
  margin-right: 30px;
}
#navbar ul li:hover {
  background-color: #eeeeee;
}
#navbar a {
  text-decoration: none;
  color: black;
}

.container {
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  border-radius: 10pt;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  text-align: center;
}

.clearfix {
  clear: both;
}